<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="jdbc-web-client">
	<display-name>jdbc-web-client</display-name>
	<servlet>
		<servlet-name>ChangeDataSourceServlet</servlet-name>
		<display-name>ChangeDataSourceServlet</display-name>
		<servlet-class>jdbcwebclient.ChangeDataSourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeDataSourceServlet</servlet-name>
		<url-pattern>/changeDataSource</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>sqlclient.jsp</welcome-file>
	</welcome-file-list>
</web-app>
